@import "tailwindcss";

@theme {
    /* dark mode */
    --color-nebula-darkpurple: #0a0e1a;
    --color-nebula-lightgrey: #D1D5DB;
    /* light mode */
    --color-nebula-white: #FFFFFF;
    --color-nebula-darkgrey: #1F2937;
}